// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.latest {
	text-align: center;
	color: $text-color-white;
	background: $color-orange;
	@include padding(rem(59px) null);
	@include max-screen($breakpoint-phone){
		@include padding(rem(30px) null rem(50px));
	}

	&__block {
		@extend %post;
		@include min-screen($breakpoint-small + 1){
			width: 50%!important;
		}

		.is-wrap {
			@include max-screen($breakpoint-small){
				padding-bottom: 0!important;
			}
		}
		p {
			height: 100px;
		}
	}

	h2 {
		font-weight: $heading-font-weight;
		@include font-size(33px);
		@include margin(null null rem(65px));
		@include max-screen($breakpoint-phone){
			@include font-size(30px);
			@include margin(null null rem(30px));
		}
	}

	.btn,
	.button {
		min-width: rem(227px);
		@include margin(rem(15px) null null);
		@include max-screen($breakpoint-small){
			width: 100%;
		}
	}

	.slick-slider {
		.slick-dots {
			@include margin(null null rem(20px));

			li {
				border-color: $color-white;

				&.slick-active {
					background: $color-white;
				}
			}
		}
	}

	&--related {
		@include padding(null null rem(53px));
		@include max-screen($breakpoint-phone){
			@include padding(null null rem(35px));
		}

		.btn,
		.button {
			@include padding(null rem(30px));
			@include margin(rem(2px) null null);
		}
	}

	&--news {
		color: $text-color-base;
		background-color: $color-white;

		.latest__block {
			h4 {
				a {
					color: $color-orange;
				}
			}

			.is-wrap {
				@include padding(null 0);
			}
		}
	}
}